<html>
    <head>
        <title>{% block titulo_html %}{% endblock %}</title>
        
    </head>
    <body>
        <h1>Control Tareas - {% block h1 %}{% endblock %}</h1>
        <article>
            {% block articulo_contenido %}{% endblock %}
		</article>
    </body>
</html>
