{% extends "TareasControl/base.html" %}
{% block titulo_html %}
    Lista de Proyectos
{% endblock %}
{% block h1 %}
    Lista de Proyectos
{% endblock %}
{% block articulo_contenido %}
    <h3>{{ action }}</h3>
    <h4>{{ proyecto.titulo }}</h4>
    <h5>{{ proyecto.nombre_cliente }}</h5>
    {{ proyecto.descripcion }}
{% endblock %}