{% extends "TareasControl/base.html" %}
{% block titulo_html %}
    Lista de Proyectos
{% endblock %}
{% block h1 %}
    Lista de Proyectos
{% endblock %}
{% block articulo_contenido %}
    <h3>{{ action }}</h3>
    {% if todo_proyectos|length > 0 %}
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Título</td>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in todo_proyectos %}
                    <tr>
                        <td>{{ proyecto.id }}</td>
                        <td>{{ proyecto.titulo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span>Sin proyectos.</span>
    {% endif %}
{% endblock %}