{% extends "TareasControl/base.html" %}
{% block titulo_html %}
    Detalle del Proyectos
{% endblock %}
{% block h1 %}
    Detalle del Proyectos
{% endblock %}
{% block articulo_contenido %}
    <h3>{{ proyecto.titulo }}</h3>
    <h4>Cliente : {{ proyecto.nombre_cliente }}</h4>
    <p>
        {{ proyecto.descripcion }}
    </p>

{% endblock %}