<html>
    <head>
        <title>Hola mundo - Título</title>
    </head>
    <body>
        <h1>
			Hola mundo - Django
 		    <br>
            <a href="{% url 'conexion' %}">Conexion</a>
        </h1>
        <article>
            <span>{{ saludo }}</span><br>
            <span>
                {% if edad < 10 %}
                    Eres un niño
                {% elif edad < 18 %}
                    Eres un adolescente
                {% else %}
                    Eres un adulto!
                {% endif %}
            </span><br>
            <span>
                <ul>
                {% for ciudad in arreglo_capitales %}
                    <li>{{ ciudad }}</li>
                {% endfor %}
                </ul>
            </span>
		</article>
    </body>
</html>
